@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --text-white: #ffffff;
  --search-color: #b2b2b2;
  --text-input: #737373;
  --slider-icon: #cccccc;
  --bg-footer: #222222;
  --text-footer: #c7c7c7;
  --before-footer: rgba(196, 196, 196, 0.4);
  --border-footer: rgba(196, 196, 196, 0.15);

  --primary-font: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--primary-font);
}

body {
  margin: 0 auto;
  max-width: 400px;
}
